In [34]:
import pandas as pd

In [35]:
data= pd.read_excel(r'C:\Users\PRO\PROJECT  DATA PROSESSING\book15.xlsx')
data

,Unnamed: 0,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,condition,result,target 1
0,0,23,1,1.0,0,0,0,1,0,0,3.0,3.0
1,1,24,1,1.0,0,0,1,0,0,0,3.0,3.0
2,2,23,1,1.0,1,0,0,1,0,0,4.0,4.0
3,3,25,1,1.0,1,0,0,0,0,0,3.0,3.0
4,4,22,1,0.5,1,0,1,0,0,0,3.5,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
403,403,14,1,0.5,1,0,1,1,0,7,4.5,-2.5
404,404,15,0,1.0,0,0,1,0,0,7,2.0,-5.0
405,405,16,0,1.0,0,2,0,1,0,1,4.0,3.0
406,406,17,0,1.0,0,0,0,0,0,1,1.0,0.0
407,407,18,1,1.0,0,2,0,0,0,1,4.0,3.0

In [36]:
data=data.drop(["Unnamed: 0",'condition','result'],axis=1)

In [37]:
data[100:160]

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,target 1
100,60,1,1.0,1,0,0,1,0,-3.0
101,28,1,1.0,1,0,0,0,0,3.0
102,22,1,0.5,1,0,1,0,0,3.5
103,22,1,1.0,0,0,0,0,0,2.0
104,22,1,1.0,0,0,0,0,0,2.0
105,33,1,0.5,1,0,1,0,0,2.5
106,35,1,1.0,1,0,1,1,0,3.0
107,65,1,1.0,0,2,1,1,1,0.0
108,19,1,1.0,1,2,0,0,1,5.0
109,20,1,1.0,1,2,0,0,1,6.0
110,63,1,0.5,1,2,1,0,1,-0.5
111,21,1,0.5,1,2,0,0,1,5.5
112,45,0,1.0,1,0,1,1,1,1.0
113,35,1,1.0,0,0,1,0,1,2.0
114,17,1,1.0,0,0,0,0,1,2.0
115,18,1,1.0,1,0,0,1,1,4.0
116,60,1,1.0,1,0,0,1,1,-2.0
117,26,1,0.5,1,0,1,1,1,5.5
118,26,1,0.5,1,0,1,1,1,5.5
119,25,1,1.0,1,0,1,0,1,5.0
120,30,1,1.0,0,0,1,0,1,3.0
121,32,1,1.0,1,0,1,1,1,5.0
122,26,1,1.0,1,0,1,1,0,5.0
123,22,1,1.0,1,0,1,1,0,5.0
124,24,1,1.0,1,0,0,0,0,3.0
125,22,1,1.0,1,0,1,1,0,5.0
126,22,1,1.0,1,2,1,0,0,6.0
127,26,1,0.5,1,2,1,1,0,6.5
128,27,1,0.5,1,2,1,0,0,5.5
129,26,1,1.0,1,2,1,1,0,7.0
130,26,1,1.0,1,2,1,0,0,6.0
131,25,0,1.0,0,0,1,0,0,2.0
132,27,1,1.0,1,0,1,1,0,5.0
133,22,1,0.5,1,0,1,0,0,3.5
134,26,1,1.0,1,0,0,0,0,3.0
135,27,1,1.0,1,0,1,1,0,5.0
136,26,1,1.0,1,0,1,1,1,6.0
137,26,1,1.0,1,0,1,0,1,5.0
138,25,1,1.0,1,0,1,1,1,6.0
139,27,1,1.0,0,0,1,1,1,5.0
140,25,1,1.0,0,0,1,1,1,5.0
141,30,1,1.0,0,0,1,1,1,4.0
142,32,1,0.5,0,0,1,1,1,3.5
143,26,1,0.5,0,0,1,1,1,4.5
144,55,1,0.5,0,0,1,0,1,-1.5
145,24,1,0.5,1,0,1,0,1,4.5
146,22,1,1.0,1,0,1,0,1,5.0
147,22,1,1.0,0,0,1,1,1,5.0
148,55,1,1.0,0,0,1,1,1,0.0
149,55,1,0.5,0,0,1,1,1,-0.5
150,33,1,0.5,0,0,1,1,1,3.5
151,43,1,0.5,0,0,1,0,1,0.5
152,43,1,0.5,1,0,1,0,1,1.5
153,22,1,1.0,1,0,1,0,1,5.0
154,33,1,0.5,1,0,1,0,0,2.5
155,34,1,1.0,1,0,0,0,0,2.0
156,40,1,1.0,1,0,1,1,0,2.0
157,38,1,1.0,1,0,1,1,1,4.0
158,34,1,1.0,1,0,1,0,1,4.0
159,64,1,1.0,1,0,1,1,1,-1.0

In [38]:
data['target 1'].max()

8.0

In [39]:
list=[]
for i in data['target 1']:
    if i <3:
        list.append(1)
    elif i >=3 and i < 5:
        list.append(2)
    elif i >=5 and i<7:
        list.append(3)
    else:
        list.append(4)

In [40]:
print(list)

[2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 2, 2, 3, 1, 1, 3, 3, 3, 3, 2, 1, 1, 2, 3, 2, 3, 1, 2, 2, 3, 1, 1, 3, 2, 1, 2, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 3, 3, 3, 2, 2, 2, 2, 3, 2, 1, 2, 3, 3, 3, 3, 3, 1, 1, 2, 2, 1, 2, 2, 2, 2, 3, 3, 4, 3, 3, 4, 3, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 3, 3, 1, 3, 1, 1, 1, 2, 1, 3, 3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 3, 4, 3, 1, 3, 2, 2, 3, 3, 3, 3, 3, 3, 2, 2, 2, 1, 2, 3, 3, 1, 1, 2, 1, 1, 3, 1, 1, 1, 2, 2, 1, 2, 3, 2, 2, 1, 1, 1, 1, 2, 2, 1, 4, 3, 4, 4, 3, 4, 2, 1, 2, 1, 1, 1, 1, 2, 3, 2, 2, 4, 2, 1, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 4, 4, 3, 4, 4, 3, 4, 4, 2, 3, 2, 2, 2, 1, 3, 1, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, 3, 3, 2, 2, 1, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2]

In [41]:
data['feed']=list

In [42]:
data.head()

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,target 1,feed
0,23,1,1.0,0,0,0,1,0,3.0,2
1,24,1,1.0,0,0,1,0,0,3.0,2
2,23,1,1.0,1,0,0,1,0,4.0,2
3,25,1,1.0,1,0,0,0,0,3.0,2
4,22,1,0.5,1,0,1,0,0,3.5,2

In [43]:
data['feed']=data['feed'].map({1:'''hii you was't eligible''',2:'not bad',3:'good',4:'awesome'})

In [44]:
data.head(50)

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,target 1,feed
0,23,1,1.0,0,0,0,1,0,3.0,not bad
1,24,1,1.0,0,0,1,0,0,3.0,not bad
2,23,1,1.0,1,0,0,1,0,4.0,not bad
3,25,1,1.0,1,0,0,0,0,3.0,not bad
4,22,1,0.5,1,0,1,0,0,3.5,not bad
5,27,1,1.0,0,0,0,0,0,2.0,hii you was't eligible
6,41,1,1.0,0,0,0,0,0,-1.0,hii you was't eligible
7,15,1,0.5,1,0,1,0,0,-3.5,hii you was't eligible
8,17,1,1.0,1,0,1,1,0,4.0,not bad
9,41,1,1.0,0,2,1,1,1,4.0,not bad
10,38,1,1.0,1,2,0,0,1,4.0,not bad
11,45,1,1.0,1,2,0,0,1,2.0,hii you was't eligible
12,35,1,0.5,1,2,1,0,1,4.5,not bad
13,38,1,0.5,1,2,0,0,1,3.5,not bad
14,29,0,1.0,1,0,1,1,1,5.0,good
15,51,1,1.0,0,0,1,0,1,0.0,hii you was't eligible
16,52,1,1.0,0,0,0,0,1,-1.0,hii you was't eligible
17,28,1,1.0,1,0,0,1,1,5.0,good
18,22,1,1.0,1,0,0,1,1,5.0,good
19,22,1,0.5,1,0,1,1,1,5.5,good
20,22,1,0.5,1,0,1,1,1,5.5,good
21,33,1,1.0,1,0,1,0,1,4.0,not bad
22,35,1,1.0,0,0,1,0,1,2.0,hii you was't eligible
23,45,1,1.0,1,0,1,1,1,2.0,hii you was't eligible
24,19,1,1.0,1,0,1,1,0,4.0,not bad
25,20,1,1.0,1,0,1,1,0,5.0,good
26,22,1,1.0,1,0,0,0,0,3.0,not bad
27,21,1,1.0,1,0,1,1,0,5.0,good
28,45,1,1.0,1,2,1,0,0,2.0,hii you was't eligible
29,35,1,0.5,1,2,1,1,0,4.5,not bad
30,17,1,0.5,1,2,1,0,0,4.5,not bad
31,18,1,1.0,1,2,1,1,0,6.0,good
32,62,1,1.0,1,2,1,0,0,-1.0,hii you was't eligible
33,26,0,1.0,0,0,1,0,0,2.0,hii you was't eligible
34,26,1,1.0,1,0,1,1,0,5.0,good
35,25,1,0.5,1,0,1,0,0,3.5,not bad
36,30,1,1.0,1,0,0,0,0,2.0,hii you was't eligible
37,32,1,1.0,1,0,1,1,0,4.0,not bad
38,26,1,1.0,1,0,1,1,1,6.0,good
39,22,1,1.0,1,0,1,0,1,5.0,good
40,24,1,1.0,1,0,1,1,1,6.0,good
41,22,1,1.0,0,0,1,1,1,5.0,good
42,22,1,1.0,0,0,1,1,1,5.0,good
43,26,1,1.0,0,0,1,1,1,5.0,good
44,27,1,0.5,0,0,1,1,1,4.5,not bad
45,26,1,0.5,0,0,1,1,1,4.5,not bad
46,26,1,0.5,0,0,1,0,1,3.5,not bad
47,25,1,0.5,1,0,1,0,1,4.5,not bad
48,27,1,1.0,1,0,1,0,1,5.0,good
49,22,1,1.0,0,0,1,1,1,5.0,good

In [45]:
data2=data['feed']
data2.head()

0    not bad
1    not bad
2    not bad
3    not bad
4    not bad
Name: feed, dtype: object

In [46]:
ou_data=pd.read_excel(r'C:\Users\PRO\PROJECT  DATA PROSESSING\book12.xlsx')
data3=ou_data.drop('Unnamed: 0',axis=1)
data3

,age,solo/team,M/F,Are you smoker,jeep_survies,food_habit,exersize,climate,status
0,23,team,Male,Yes,No,Fast food,Yes,Not bad,yes
1,24,team,Male,Yes,No,Homely food,No,Not bad,yes
2,23,team,Male,No,No,Fast food,Yes,Not bad,yes
3,25,team,Male,No,No,Fast food,No,Not bad,yes
4,22,team,Female,No,No,Homely food,No,Not bad,yes
...,...,...,...,...,...,...,...,...,...
403,14,team,Female,No,No,Homely food,Yes,Not bad,no
404,15,solo,Male,Yes,No,Homely food,No,Not bad,no
405,16,solo,Male,Yes,Yes,Fast food,Yes,Not bad,yes
406,17,solo,Male,Yes,No,Fast food,No,Not bad,no
407,18,team,Male,Yes,Yes,Fast food,No,Not bad,yes

In [47]:
data3['feed_back']=data['feed']
data3

,age,solo/team,M/F,Are you smoker,jeep_survies,food_habit,exersize,climate,status,feed_back
0,23,team,Male,Yes,No,Fast food,Yes,Not bad,yes,not bad
1,24,team,Male,Yes,No,Homely food,No,Not bad,yes,not bad
2,23,team,Male,No,No,Fast food,Yes,Not bad,yes,not bad
3,25,team,Male,No,No,Fast food,No,Not bad,yes,not bad
4,22,team,Female,No,No,Homely food,No,Not bad,yes,not bad
...,...,...,...,...,...,...,...,...,...,...
403,14,team,Female,No,No,Homely food,Yes,Not bad,no,hii you was't eligible
404,15,solo,Male,Yes,No,Homely food,No,Not bad,no,hii you was't eligible
405,16,solo,Male,Yes,Yes,Fast food,Yes,Not bad,yes,not bad
406,17,solo,Male,Yes,No,Fast food,No,Not bad,no,hii you was't eligible
407,18,team,Male,Yes,Yes,Fast food,No,Not bad,yes,not bad

In [48]:
data3.head(50)

,age,solo/team,M/F,Are you smoker,jeep_survies,food_habit,exersize,climate,status,feed_back
0,23,team,Male,Yes,No,Fast food,Yes,Not bad,yes,not bad
1,24,team,Male,Yes,No,Homely food,No,Not bad,yes,not bad
2,23,team,Male,No,No,Fast food,Yes,Not bad,yes,not bad
3,25,team,Male,No,No,Fast food,No,Not bad,yes,not bad
4,22,team,Female,No,No,Homely food,No,Not bad,yes,not bad
5,27,team,Male,Yes,No,Fast food,No,Not bad,no,hii you was't eligible
6,41,team,Male,Yes,No,Fast food,No,Not bad,no,hii you was't eligible
7,15,team,Female,No,No,Homely food,No,Not bad,no,hii you was't eligible
8,17,team,Male,No,No,Homely food,Yes,Not bad,yes,not bad
9,41,team,Male,Yes,Yes,Homely food,Yes,Good,yes,not bad
10,38,team,Male,No,Yes,Fast food,No,Good,yes,not bad
11,45,team,Male,No,Yes,Fast food,No,Good,no,hii you was't eligible
12,35,team,Female,No,Yes,Homely food,No,Good,yes,not bad
13,38,team,Female,No,Yes,Fast food,No,Good,yes,not bad
14,29,solo,Male,No,No,Homely food,Yes,Good,yes,good
15,51,team,Male,Yes,No,Homely food,No,Good,no,hii you was't eligible
16,52,team,Male,Yes,No,Fast food,No,Good,no,hii you was't eligible
17,28,team,Male,No,No,Fast food,Yes,Good,yes,good
18,22,team,Male,No,No,Fast food,Yes,Good,yes,good
19,22,team,Female,No,No,Homely food,Yes,Good,yes,good
20,22,team,Female,No,No,Homely food,Yes,Good,yes,good
21,33,team,Male,No,No,Homely food,No,Good,yes,not bad
22,35,team,Male,Yes,No,Homely food,No,Good,no,hii you was't eligible
23,45,team,Male,No,No,Homely food,Yes,Good,no,hii you was't eligible
24,19,team,Male,No,No,Homely food,Yes,Not bad,yes,not bad
25,20,team,Male,No,No,Homely food,Yes,Not bad,yes,good
26,22,team,Male,No,No,Fast food,No,Not bad,yes,not bad
27,21,team,Male,No,No,Homely food,Yes,Not bad,yes,good
28,45,team,Male,No,Yes,Homely food,No,Not bad,no,hii you was't eligible
29,35,team,Female,No,Yes,Homely food,Yes,Not bad,yes,not bad
30,17,team,Female,No,Yes,Homely food,No,Not bad,yes,not bad
31,18,team,Male,No,Yes,Homely food,Yes,Not bad,yes,good
32,62,team,Male,No,Yes,Homely food,No,Not bad,no,hii you was't eligible
33,26,solo,Male,Yes,No,Homely food,No,Not bad,no,hii you was't eligible
34,26,team,Male,No,No,Homely food,Yes,Not bad,yes,good
35,25,team,Female,No,No,Homely food,No,Not bad,yes,not bad
36,30,team,Male,No,No,Fast food,No,Not bad,no,hii you was't eligible
37,32,team,Male,No,No,Homely food,Yes,Not bad,yes,not bad
38,26,team,Male,No,No,Homely food,Yes,Good,yes,good
39,22,team,Male,No,No,Homely food,No,Good,yes,good
40,24,team,Male,No,No,Homely food,Yes,Good,yes,good
41,22,team,Male,Yes,No,Homely food,Yes,Good,yes,good
42,22,team,Male,Yes,No,Homely food,Yes,Good,yes,good
43,26,team,Male,Yes,No,Homely food,Yes,Good,yes,good
44,27,team,Female,Yes,No,Homely food,Yes,Good,yes,not bad
45,26,team,Female,Yes,No,Homely food,Yes,Good,yes,not bad
46,26,team,Female,Yes,No,Homely food,No,Good,yes,not bad
47,25,team,Female,No,No,Homely food,No,Good,yes,not bad
48,27,team,Male,No,No,Homely food,No,Good,yes,good
49,22,team,Male,Yes,No,Homely food,Yes,Good,yes,good

In [49]:
data3['climate']=data3['climate'].map({"Not bad":'Rainy','Good':'Hot'})
data3

,age,solo/team,M/F,Are you smoker,jeep_survies,food_habit,exersize,climate,status,feed_back
0,23,team,Male,Yes,No,Fast food,Yes,Rainy,yes,not bad
1,24,team,Male,Yes,No,Homely food,No,Rainy,yes,not bad
2,23,team,Male,No,No,Fast food,Yes,Rainy,yes,not bad
3,25,team,Male,No,No,Fast food,No,Rainy,yes,not bad
4,22,team,Female,No,No,Homely food,No,Rainy,yes,not bad
...,...,...,...,...,...,...,...,...,...,...
403,14,team,Female,No,No,Homely food,Yes,Rainy,no,hii you was't eligible
404,15,solo,Male,Yes,No,Homely food,No,Rainy,no,hii you was't eligible
405,16,solo,Male,Yes,Yes,Fast food,Yes,Rainy,yes,not bad
406,17,solo,Male,Yes,No,Fast food,No,Rainy,no,hii you was't eligible
407,18,team,Male,Yes,Yes,Fast food,No,Rainy,yes,not bad

In [50]:
data3.isnull().sum()

age               0
solo/team         0
M/F               0
Are you smoker    0
jeep_survies      0
food_habit        0
exersize          0
climate           0
status            0
feed_back         0
dtype: int64

In [94]:
with pd.ExcelWriter('book16.xlsx') as pp:
    data3.to_excel(pp)

In [192]:
import pandas as pd

In [193]:
data= pd.read_excel('Book9.xlsx')
data[400:]

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate
400,11,3.0,female,no,yes,homely_food,yes,hot
401,12,3.0,male,no,yes,homely_food,yes,hot
402,13,2.0,male,no,yes,homely_food,yes,rainy
403,14,2.0,female,no,no,homely_food,yes,rainy
404,15,1.0,male,yes,no,homely_food,no,rainy
405,16,1.0,male,yes,yes,fast_food,yes,rainy
406,17,1.0,male,yes,no,fast_food,no,rainy
407,18,2.0,male,yes,yes,fast_food,no,rainy
408,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
411,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
data=data.drop([408,409,410,411,412,413,414],axis=0)
data

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate
0,23,4.0,male,yes,no,fast_food,yes,rainy
1,24,4.0,male,yes,no,homely_food,no,rainy
2,23,4.0,male,no,no,fast_food,yes,rainy
3,25,4.0,male,no,no,fast_food,no,rainy
4,22,2.0,female,no,no,homely_food,no,rainy
...,...,...,...,...,...,...,...,...
403,14,2.0,female,no,no,homely_food,yes,rainy
404,15,1.0,male,yes,no,homely_food,no,rainy
405,16,1.0,male,yes,yes,fast_food,yes,rainy
406,17,1.0,male,yes,no,fast_food,no,rainy
407,18,2.0,male,yes,yes,fast_food,no,rainy

In [195]:
data.isnull().sum()

age                   0
no_of_team_members    0
male/female           0
smoking_habit         0
jeep_survies          0
food_habit            0
exersize              0
climate               0
dtype: int64

In [196]:
data['jeep_survies']=data['jeep_survies'].map({"yes":2,'no':0})
data

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate
0,23,4.0,male,yes,0,fast_food,yes,rainy
1,24,4.0,male,yes,0,homely_food,no,rainy
2,23,4.0,male,no,0,fast_food,yes,rainy
3,25,4.0,male,no,0,fast_food,no,rainy
4,22,2.0,female,no,0,homely_food,no,rainy
...,...,...,...,...,...,...,...,...
403,14,2.0,female,no,0,homely_food,yes,rainy
404,15,1.0,male,yes,0,homely_food,no,rainy
405,16,1.0,male,yes,2,fast_food,yes,rainy
406,17,1.0,male,yes,0,fast_food,no,rainy
407,18,2.0,male,yes,2,fast_food,no,rainy

In [197]:
data['price']=(data['no_of_team_members']*data['jeep_survies'])/2*700+(data['no_of_team_members']*300)

In [198]:
data[70:]

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,price
70,33,2.0,male,yes,0,homely_food,yes,rainy,600.0
71,34,2.0,male,no,0,homely_food,yes,rainy,600.0
72,40,8.0,male,yes,2,homely_food,yes,hot,8000.0
73,38,8.0,male,no,2,homely_food,yes,hot,8000.0
74,34,8.0,male,yes,2,fast_food,yes,hot,8000.0
...,...,...,...,...,...,...,...,...,...
403,14,2.0,female,no,0,homely_food,yes,rainy,600.0
404,15,1.0,male,yes,0,homely_food,no,rainy,300.0
405,16,1.0,male,yes,2,fast_food,yes,rainy,1000.0
406,17,1.0,male,yes,0,fast_food,no,rainy,300.0
407,18,2.0,male,yes,2,fast_food,no,rainy,2000.0

In [199]:
new_data=data.drop(['age','male/female','smoking_habit','food_habit','exersize','climate'],axis=1)

In [200]:
new_data[70:]

     no_of_team_members  jeep_survies   price
70                  2.0             0   600.0
71                  2.0             0   600.0
72                  8.0             2  8000.0
73                  8.0             2  8000.0
74                  8.0             2  8000.0
..                  ...           ...     ...
403                 2.0             0   600.0
404                 1.0             0   300.0
405                 1.0             2  1000.0
406                 1.0             0   300.0
407                 2.0             2  2000.0

[338 rows x 3 columns]

In [201]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [202]:
model=LinearRegression()

In [203]:
x=new_data.drop('price',axis=1)
y=new_data['price']

In [204]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=33)

In [205]:
model.fit(X_train,y_train)

LinearRegression()

In [206]:
model.score(X_test,y_test)

0.9330730096259602

In [207]:
import joblib

In [208]:
joblib.dump(model,'price_prediction2.sav')

['price_prediction2.sav']

In [209]:
list=[4,2]

In [210]:
ac=joblib.load('price_prediction2.sav')

In [211]:
ab=ac.predict([list])
ab=np.floor(ab)
ab

array([4095.])

In [212]:
from sklearn.svm import SVR

In [214]:
model=SVR(C=10,gamma='scale',)

In [215]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=33)

In [216]:
model.fit(X_train,y_train)

SVR(C=10)

In [217]:
model.score(X_test,y_test)

0.12240053991754607